@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  text-align: center;

}
.nav{
  font-family: 'Montserrat', sans-serif;
}


.home{
  background-image: url("https://www.juventus.com/images/image/private/t_header_wide_desktop_max/f_auto/v1625124366/dev/y38vx4cjk4qfkwsn6srn.jpg");
  height: 569px;
  width: 1366px;
  align-content: center;
}
.about{
  background-color: black;
  height: 565px;
  color: aliceblue;
  font-size: 20px;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
